{% load static from staticfiles %}
<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Practice IPA</title>
</head>

<body>

<h1>Practice IPA (in development)</h1>
{% block num_entries %}{% endblock %}
<form action="{% url 'search' %}" method="get">
  <input id="search" type="text" name="search">
  <select name="lang" style="display: none">
    <option value="en">English</option>
  </select>
  <button type="submit">Search</button>
</form>

<div id="content">
{% block content %}{% endblock %}
</div>

</body>
</html>
