boto==2.36.0
dj-database-url==0.3.0
Django==1.7.4
django-ordered-model==0.4.0
django-storages-redux==1.2.2
ipython==3.0.0
psycopg2==2.5.4
pyreadline==2.0
requests==2.5.3
waitress==0.8.9
whitenoise==1.0.6
