{% extends "ipa/base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <h3><a href="{{ wordlist.get_absolute_url }}">{{ wordlist.name }}</a></h3>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h4>Progress: {{ wordlist_progress.correct }} / {{ wordlist_progress.total }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="progress">
          <div class="progress-bar" style="width: {{ wordlist_progress.percentage }}%"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="{% url 'practice:quiz' wordlist_id=wordlist.id wordlist_slug=wordlist.slug %}"
           role="button" class="btn btn-success">
          Quiz Yourself
        </a>
      </div>
      <div class="col-md-6">
        <form action="{{ reset_url }}" method="post">
          {% csrf_token %}
          {{ reset_form }}
          <input type="submit" id="reset-progress" class="btn btn-warning" value="Reset progress" />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% include 'practice/page_nav.html' %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
    {% for wordlist_word in page_words %}
      {% with word=wordlist_word.word %}
        <li class="list-group-item">
          <h4>
          <ul class="list-inline">
              <li><a href="{{ word.get_absolute_url }}">{{ word }}</a></li>
              {% for ipa in word.ipa_set.all %}
                <li>{{ ipa }}</li>
              {% endfor %}
          </ul>
          </h4>
          <ul class="list-inline">
            {% for audio in word.audio_set.all %}
            <li><audio controls preload="none" src={{ audio.audiofile.url }}>
                Your browser does not support the <code>audio</code> element.
              </audio>{% if audio.accent == "GB" %} (GB) {% endif %}</li>
            {% endfor %}
          </ul>
        </li>
      {% endwith %}
    {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% include 'practice/page_nav.html' %}
  </div>
</div>

{% endblock %}
