{% extends "ipa/base.html" %}

{% block content %}

<h3>{{ wordlist.name }}</h3>

<a href="{% url 'practice:quiz' wordlist_id=wordlist.id wordlist_slug=wordlist.slug %}">
  Quiz Yourself
</a>
<h4>Progress: {{ wordlist_progress }} / {{ wordlist.words.count }}</h4>
<form action="{{ reset_url }}" method="post">
  {% csrf_token %}
  {{ reset_form }}
  <input type="submit" value="Reset progress" />
</form>

{% for word in wordlist.words.all %}
<ul>
  <li><a href="{{ word.get_absolute_url }}">{{ word.word }}</a></li>
</ul>
{% endfor %}

{% endblock %}
